.table {
    margin:auto;border-style: ridge;border-width: 1.9em; position: relative;
}
.info {
    position: relative; height: 3em; background: darkgrey; margin: auto;
}
.cellStyle{
    text-align: center;
    border: 1px solid black;
    width: 55px;
    height: 55px;
}
.jsButtonsStyle{
    width: 60px;
    height: 60px;
    margin-left: -4.5em;
    background: gray;
}
.restart {
    background-image: url("btn.PNG");
    width: 40px;
    height: 40px;
}
.restart:hover{
    background-image: url("hover2.PNG");
}
.form {
    position: absolute;
    display: inline-block;
    left: 5%;
    top: 10%;
    transform:translate(-5%);
}
.minesCountForm {
    position: absolute;
    display: inline-block;
    right: 4%;
    top: 10%;
    transform:translate(-4%);
}
.btn {
    position: absolute;
    left:50%;
    top: 10%;
    transform:translate(-50%);
    display: inline-block;
}
.diffLevel{
    position: absolute;
    left: 60%;
    top: 30%;
    display: inline-block;
}
.stopwatch {
    background: white;
    font-family: "Arial Black";
    font-size: 150%;
    color: black;
}
.minesCounter {
    text-align: right;
    background: white;
    font-family: "Arial Black";
    font-size: 150%;
    color: black;
}
.XYDiv{
    position: absolute;
    display: inline-block;
    left: 26%;
    top: 30%;
}
.XInput{
    width: 30px;
}
.YInput{
    width: 30px;
}